<div class="page-header">CS 410 Virtual Lab</div>

<div class="main-content">
	<md-input-container class="ranker-input">
		<label>Ranker</label>
		<md-select required class="ranker-select" ng-model="ranker">
			<md-option>Okapi BM25</md-option>
			<md-option>Pivoted Length Normalization</md-option>
			<md-option>Absolute Discount Smoothing</md-option>
			<md-option>Jelinek-Mercer Smoothing</md-option>
			<md-option>Dirichlet-Prior Smoothing</md-option>
		</md-select>
	</md-input-container>

	<div class="parameters-header" ng-if="ranker">Parameters</div>
	<md-input-container ng-repeat="param in rankerInfo.parameters">
		<label>{{param.name}}</label>
		<input required type="number" ng-model="parameters[param.name]" ng-init="parameters[param.name]=param.default"></input>
	</md-input-container>
	<div>
		<md-input-container>
			<label>Query</label>
			<input required type="text" ng-model="query"></input>
		</md-input-container>
	</div>

	<div><md-button class="md-raised md-primary run-button" ng-click="sendQueryRunner()">Run Query Ranker</md-button></div>


</div>



